.container
	%h1 Submit your URL, and receive a tiny URL
	=form_for @tiny_url do |f|
		%p
			= f.label :url, "URL?"
			= f.text_field :url
		- if @tiny_url.errors[:url].any?
			%p.error-messages
				= @tiny_url.errors[:url].to_sentence

		%p.btn.btn-success.btn-large
			= f.submit "Get a tiny URL"
