<!DOCTYPE html>
<html>
<head>
  <title>Tinyurl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:tiny_id].present? %>
	<p class='tiny-url'>
		Follow the tiny <%= link_to url_url(flash[:tiny_id]), url_url(flash[:tiny_id]) %>
	</p>
<% end %>
<%= yield %>

</body>
</html>
